body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

.PB {
    height: 100%;
    width: 100%;
    color: #2e2e2e;
}

.tab {
    height: 5%;
    width: 100%;
    display: flex;
    border: 1px;
    background-color: #ffffff;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.sign {
    width: 20%;
    height: 100%;
    position: relative;
}

.daily {
    width: 20%;
    height: 100%;
    position: relative;
}

.sell {
    width: 5%;
    height: 100%;
    position: relative;
}

.bag .middle {
    width: 100%;
    height: 100%;
    display: flex;
}

.bag .middle .cart img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.help {
    width: 20%;
    height: 100%;
    position: relative;
}

.GBP {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
}

.GBP .middle {
    display: flex;
}

.GBP .middle .image {
    width: 50%;
    height: 100%;
}

.GBP .middle .text {
    width: 50%;
    height: 100%;
}

.GBP .middle .image img {
    width: 50%;
    height: 50%;
}

.bag {
    width: 25%;
    height: 100%;
    position: relative;
}

.cart {
    width: 20%;
    display: flex;
    align-items: center;
}
.bug {
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
}

.bug a {
    display: block;
}
.head {
    height: 10%;
    width: 100%;
    display: flex;
    border: 1px;
    background-color: #f62f5e;
    color: black;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    height: 50%;
    text-decoration: none;
}

.search .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    height: 50%;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.place {
    width: 10%;
    height: 100%;
    display: flex;
}

.place img {
    width: 50%;
    height: 50%;
    margin: auto;
}

.holder {
    width: 90%;
    height: 100%;
}

.shop {
    width: 15%;
    height: 100%;
    position: relative;
    font-size: 30px;
    color: black;
}

.feminin {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

.masculin {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

.little {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

.search {
    width: 40%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

input[type="search"] {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50px;
}
a {
    text-decoration: none;
}
.last{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: minmax(100px, auto);
    grid-gap: 1em;
    height: 80%;
}
.pic{
    display: block;
    background: linear-gradient(to right, #4343e082, #4343e0ef), url("./karim.jpg");
    background-size: contain;
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    height: 300px;
}
h1{
    text-align: center;
    position: relative;
    top: 30%;
}
.sign{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    width: 100%;
    height: 80%;
}
.counts{
    display: block;
    background: linear-gradient(to right,#ffc0cb8c,#ffc0cbd1), url("./shoe.jpg");
    background-size: contain;
    height: 400px;
    margin-right: 3em;  
}
.twice{
    margin-left: 2em;
}
.move{
    position: absolute;
    top: 300px;
    margin-left: 10em;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-auto-columns: minmax(100px, auto);
    width: 100%;
    height: 80%;
}
.disk{
    width: 100%;
    height: 60%;
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
}
.sales{
    width: 100%;
    height: 40%;
    background-color: white;
    color:black;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 25px;
}
.subscribe{
    width: 100%;
    height: 18%;
    background-color: white; 
    display: flex; 
    grid-gap: 1em;
}
.male{
width: 50%;
border-radius: 50px;
background-color: white;
border: 1px solid black;
}
.mail{
width: 50%;
border-radius: 50px;
background-color: #f62f5e;
color: white;
border: 1px solid black;
}
.check{
    background-color: #f7f7f7;
    color: #f62f5e;
    border: 1px white;
    border-radius: 100px;
    width: 150px;
    height: 50px;
}

