body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

.PB {
    height: 100%;
    width: 100%;
    color: #2e2e2e;
}

.tab {
    height: 5%;
    width: 100%;
    display: flex;
    border: 1px;
    background-color: #ffffff;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.container {
    height: 90%;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.sign {
    width: 20%;
    height: 100%;
    position: relative;
}

.daily {
    width: 20%;
    height: 100%;
    position: relative;
}

.sell {
    width: 5%;
    height: 100%;
    position: relative;
}

.bag .middle {
    width: 100%;
    height: 100%;
    display: flex;
}

.bag .middle .cart img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.help {
    width: 20%;
    height: 100%;
    position: relative;
}

.GBP {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
}

.GBP .middle {
    display: flex;
}

.GBP .middle .image {
    width: 50%;
    height: 100%;
}

.GBP .middle .text {
    width: 50%;
    height: 100%;
}

.GBP .middle .image img {
    width: 50%;
    height: 50%;
}

.bag {
    width: 25%;
    height: 100%;
    position: relative;
}

.cart {
    width: 20%;
    display: flex;
    align-items: center;
}
.bug {
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
}

.bug a {
    display: block;
}

.head {
    height: 10%;
    width: 100%;
    display: flex;
    border: 1px;
    background-color: #f62f5e;
    color: black;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    height: 50%;
}

.search .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
    height: 50%;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.place {
    width: 10%;
    height: 100%;
    display: flex;
}

.place img {
    width: 50%;
    height: 50%;
    margin: auto;
}

.holder {
    width: 90%;
    height: 100%;
}

.shop {
    width: 15%;
    height: 100%;
    position: relative;
    font-size: 30px;
    color: black;
}

.feminin {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

.masculin {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

.little {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

.search {
    width: 40%;
    display: flex;
    position: relative;
    font-size: 15px;
    color: whitesmoke;
}

input[type="search"] {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50px;
}

.first {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: auto;
}

.second {
    font-size: 15;
    font-weight: bolder;
    text-align: center;
    margin-top: auto;
}

a {
    text-decoration: none;
}

.span {
    color: F62F5E;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    height: 80%;
}

.box1 {
    grid-row: 1/3;
    font-size: 20;
}

.box2 {
    grid-column: 2/4;
    padding: 0;
    display: block;
}

.karim {
    width: 100%;
    height: 100%;
    margin: 0;
}

.box3 {
    grid-column: 2/3;
    padding: 0;
    display: block;
    background: linear-gradient(to right, #4343e082, #4343e0ef), url("./kei.jpg");
    background-size: contain;
    display: flex;
}

.blue {
    margin: auto;
    text-align: center;
}

.box4 {
    grid-column: 3/4;
    padding: 0;
    display: block;
    background: linear-gradient(to right, #ffa500e0, #ff3b00ba), url("./ked.jpg");
    background-size: contain;
    display: flex;
}

.orange {
    margin: auto;
    text-align: center;
}

.Men {
    color: #f62f5e;
}

.candy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
}

button {
    border: none;
    border-radius: 50px;
}

.items {
    display: grid;
    grid-template-rows: 50fr 10fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    height: 50%;
    width: 100%;
}

.badge1 {
    grid-column: 1/4;
    padding: 0;
    display: block;
    margin-left: 3em;
    margin-right: 3em;
    border: 2px #80808069;
    background: white;
    position: relative;
}
.bored {
    width: 30%;
    height: 80%;
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 2em;
    text-decoration: none;
}
.absolute{
    position: absolute;
    top: 16px;
    left: 32px;
}
button{
    background: #00D3CA;
    color:white;
}
.relative{
    position: absolute;
    top: 50px;
    left: 400px;
}
h2{
    font-size: 35s;
}
.money{
    color: red;
}
.buy{
    background: red;
    height: 40px;
    width: 150px;
    margin-top: 1em;
}

.badge2 {
    grid-column: 1/4;
    padding: 0;
    display: inline-flex;
    margin-left: 3em;
    margin-right: 3em;
    background: white;
    width: 80%;
    height: 100%;
}
.filter{
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
    width:5%;
}
.Gender{
   margin-top: 1em;
    width: 8%;   
}
.casual{
    margin-top: 1em;
    width:12%;
}
.color{
    margin-top: 1em;
    margin-left: 1em;
}
.block{
    display: flex;
}
.sort{
    margin-left: 3em;
    margin-top: 1em;
    font-weight: bold;
}
.back{
   margin-left: 25em;
    margin-top: 1em;
    font-weight: bold 
}
.page{
     margin-left: 27em;
    margin-top: 1em;
    font-weight: bold;
}
.number{
     margin-top: 1em;
}
.random{
     margin-top: 1em;
}
i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.relevant{
    margin-top: 1em;
    margin-left: 2em;
    border: 1px grey;
}
.Larrow{
    margin-left: 1em;
    border-radius: 50px;
    border: 1px grey;
}
.Rarrow{
   margin-left: 1em;
    border-radius: 50px;
}

.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    width: 80%;
    height:90%;
    margin-left: 3em;
    margin-top: 2em;
    margin-right: 3em;
}

.mon {
    grid-row: 1/3;
    background: white;
     display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    height: 400px;
    border: 1px lightgray;
}
.Cat{
   margin-left: 1em;
    margin-top: 1em;
    
}
.tall{
    margin: 0;
    background-color:#d3d3d333;
    height: 100%;
}
.fit{
    font-weight: bold;
    margin-top: 1em;
    margin-left: 1em;
}
.category{
    margin-top: 0;
    margin-left: 1em;
}
.coleur{
  margin-left: 1em;  
}
.ball{
    display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    width: 100%;
     height:10%; 
}
.pot{
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
}
.bleu{
    border-radius: 150px;
    height:15%;
    margin-top: 1em;
    background-color: #6EB2FB;
}
.green{
    border-radius: 150px;
    height:15%;
     margin-top: 1em;
    background-color: #F62F5E;
}
.red{
    border-radius: 150px;
        height:15%;
     margin-top: 1em;
    background-color: #6EB2FB;
}
.pink{
    border-radius: 150px;
        height:15%;
     margin-top: 1em;
    background-color: #F1AD3D;
}
.yellow{
    border-radius: 150px;
        height:15%;
     margin-top: 1em;
    background-color: #00D3CA;
}
.purple{
    border-radius: 150px;
        height:15%;
     margin-top: 1em;
    background-color: #EFFC90;
}

.size{
    width: 100%;
    height: 10%;
    margin-right: 1em;
}
.set{
    margin-left: 1em;
}
.class{
    display: grid;
   grid-template-columns:1fr 1fr 1fr ;
    grid-auto-rows: minmax(35px, auto);
    grid-auto-columns: 1em;
    grid-column-gap: 1em;
    width: 100%;
     height:80%;  
}
.xs{
    height: 50%;
    text-align: center;
    background-color: #d3d3d347;
    margin-left: 0.5em;
}
.s{
  height: 50%;
    text-align: center;
    background-color: #ff3b00c2;
    color:white;
}
.l{
     height: 50%;
    text-align: center;
    background-color: #d3d3d347;
    margin-left: 0.5em;
}
.xl{
     height: 50%;
    text-align: center;
    background-color: #d3d3d347;
}
.m{
     height: 50%;
    text-align: center;
    background-color: #d3d3d347;
    margin-right: 0.5em;
}
.range{
   display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: 1em;
    width: 100%;
}
 

.apply{
    display: flex;
    border: 1px lightgray;
    background-color: #d3d3d36b;
    height: 80px;
}
.all{
    margin-left: 1em;
    color: #F62F5E;
    margin-top: 1.5em;
}
.app{
    margin-left: 0.2em;
    width: 100px;
    background-color: #F62F5E;
    color: white;
    height: 50%;
    margin-top: 1em;
}

.tues {
    border: 1px lightgrey;
    background: white;
    display: grid;
    grid-row: 80% 20%;
    height: 235px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.milk{
    text-align: center;
    font-weight: bold;
}
 .door{
    display: flex;
    align-items: center;
    justify-content: center;
    height:150px;
}
.wed {
    border: 1px solid black;
    background:linear-gradient(to right, white, whitesmoke), url("./kei.jpg");
    background-size: contain;
    height: 250px;
}

.thur {
    border: 1px solid black;
    background: white;
    display: grid;
    grid-column: 1fr 2fr 1fr;
    height: 250px;
}

.fri {
    border: 1px solid black;
    background: white;
    display: grid;
    grid-column: 1fr 2fr 1fr;
    height: 250px;
}

.sat {
    border: 1px solid black;
    background: white;
    display: grid;
    grid-column:  2fr 1fr 1fr;
    height: 250px;
}

.sun {
    border: 1px solid black;
    background: white;
    display: grid;
    grid-column:2fr 1fr 1fr 1fr;
    height: 250px;
}

.months {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    height: 40%;
    width: 80%;
    margin-left: 3em;
    margin-top: 2em;
    margin-right: 3em;
}

.jan {
    border: 1px solid black;
    background: white;
}

.feb {
    border: 1px solid black;
    background: white;
}

.mars {
    border: 1px solid black;
    background: white;
}
